body{
    background-color:rgba(179, 177, 177, 0.152);
}


.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: space-around;

}

article{
    width: 27%;
    border-style: groove;
    padding: 10px;
    margin-top: 5%;
    border:5px solid rgba(22, 22, 22, 0.856);
    border-radius: 30px;

}

p {
    column-count: 2;
    line-height: 20px;
}

span {
    margin-bottom: 15px;
    padding: 15px;
}

.image-container {
    display: flex;
    justify-content: center;
}
.image-container img{
    height: 150px;
    width: 250px;
}
h1{
    text-align: center;
    font-size: 50px;
    font-style:  oblique;
    font-family:"Latin Modern Roman"; 
    color: whitesmoke;
}
.titulo{
    background-color: rgba(22, 22, 22, 0.856);
}
.last-article-left {
    margin-left: 15%;
}
.last-article-right {
    margin-right: 15%;
}

nav,ul,li{
    height: 100%;
    text-align: center;
    margin-inline: 5px;
}
nav > ul > li{
    list-style:none;
    display: inline;
    padding: 24px 4px;
   
}
nav > ul > li:hover{
    background-color: #7b7472c7;
}
nav > ul > li > a {
    text-decoration: none;
    color:black;
}